[Desktop Entry]
Type=Application
Name=Parrot Lab
Comment=Bebop video, Jumping Sumo ground controls and telemetry
Exec=parrot-lab
Icon=camera-video
Terminal=false
Categories=AudioVideo;Video;Utility;
