[Desktop Entry]
Type=Application
Name=Parrot Lab
Comment=SkyController telemetry and Bebop 2 video
Exec=parrot-lab
Icon=camera-video
Terminal=false
Categories=AudioVideo;Video;Utility;
